<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.1.0.2" targetFramework="net462" />
  <package id="FsLexYacc.Runtime" version="7.0.5" targetFramework="net462" />
  <package id="PPrint" version="2.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>